

    @import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

	body {
		background-color: #f7d6bd;
		width: 100vw;
		height: 100vh;
    padding: 0px;
    margin:0px;
		overflow-x: hidden;
		font-family: Roboto Condensed;
	}

a{
  text-decoration: underline;
  color:inherit;
}

#middle{ 
  background-color: white;
    z-index: 3;
    display:flex;
    width: 100% ;
    text-align: center;
    flex-direction: column;
    z-index:1;
    color:#fff;
    padding-bottom:7vh;
    box-sizing: content-box;
    position: -webkit-sticky;
    position: sticky;
    top:0;
}
#middle h1{
	font-family: inherit;
 		font-size: 220%;
 		color: #d4af37;
    z-index:2;
}

#middle .nav{
	width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
	text-align: center;
	display:inline-block;
  position: fixed;
  right:30vw;  
  bottom:88vh;
  z-index: 2;
}
#middle .nav a{
	color: #d4af37;
  margin:30px;
  text-decoration: none;
	
}

#middle .nav a:hover{
  color:black;
  background-color: #d4af37;
  padding: 5px;
  transition:0.4s ease-in-out;

}
#menu{
    width:50%;
    margin:auto;
    display: none;
    position: absolute;
    bottom:7vw;
    left:26vw;
}

#menu .hyperlinks{
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  display:inline-block;
}
#menu .hyperlinks a{
  color: #d4af37;
  margin:30px;
  text-decoration: none;
  
}

#menu .hyperlinks a:hover{
  color:black;
  background-color: #d4af37;
  padding: 5px;
  transition:0.4s ease-in-out;

}
.mybutton{
  background: white;
  color:black;
  font-family: inherit;
  border: solid 2px black;
  padding: 15px;
  margin: auto;
  text-align: center;
  box-shadow: 4px 4px black;
}
 .mybutton a{
  text-decoration: none;
}
 .mybutton:hover{
  box-shadow: none;    
  transition:0.4s ease-in-out; 
}
.mybutton1{
  background: white;
  font-size: 75%;
  height: auto
  color:#d4af37;
  border: solid 2px black;
  padding: 15px;
  margin: auto;
  text-align: center;
  box-shadow: 4px 4px black;
}
 .mybutton1 a{
  text-decoration: none;
}
 .mybutton1 :hover{
  box-shadow: none;    
  transition:0.4s ease-in-out; 
}

#body .home{
  z-index: inherit;
  margin:auto;
  text-align: left;
  height: auto;
  padding: 40px;
opacity: 100%;
  background-color: #f7d6bd;
  box-sizing: content-box;
  width: 40%;
  margin: auto;
  color:black;
  text-align: left;
  display: flex;
  display: flex-end;
  margin-bottom: 20px;
  border: 3px solid black;
  box-shadow: 3px 3px black;


}

 #solid{
 		background-color:#d4af37;
 		border-color:transparent;
 		align-self: center;
 		width:200px;

 }
#body{
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  z-index: 1;

}
#body1{
  width: 100%;
  height: 100%;
  box-sizing: content-box;
z-index: 1;
  display: none;
}
#body1 .home{
  z-index: inherit;
  text-align: left;
  padding: 10px;
opacity: 100%;
  background-color: #f7d6bd;
  color:black;
  text-align: left;
  margin-bottom: 20px;
  border: 3px black solid;
}

#body1 .products{
  width:50%;
  height:20%;
  padding: 10px;
  box-sizing: content-box;
  margin: auto;
  margin-bottom: 30px;
  position: absolute;
  bottom:10vw; 
  display: block;
}
#body1 .link1{
   background-color: #bf764c;
   width:50%;
   height:5%;
   box-sizing: content-box;
   color:white;
   margin:auto;
   padding: 5px;
   position: absolute: 
   bottom: -333vw;
   text-align: center;
   font-style: bold;
   font-size:100%;
   display: block;
}

.bracelet{ 
  max-width: 50%;
  max-height: 50%;
  margin: auto;
  position: relative;
  flex:none;
  z-index: -1;
  display:inherit;

 }
.bracelet1{
  max-width: 50%;
  max-height: 50%;
  margin: auto;
  position: relative;
  flex:none;
  z-index: -1;

}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slideshow-container1 {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: inline;
}

/* Hide the images by default */
.mySlides {
  display:inline;
}
.mySlides1{
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  background: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: white;
  border-radius: 0 3px 3px 0;
}
.hr1{
    border: none;
    border-right: 3px solid #333;
    color: #333;
    overflow: visible;
    max-height: 100px;
    margin: 20px;
}
 .header{
  font-size:30px;
  margin:auto;
  text-align: left;
  width: 20%;
  height: auto;
  padding: 10px;
}
/* Caption text */
.text1 {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 7px;
  margin: auto;
  width: 100%;
  text-align: center;

}
.ttext1 {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 7px;
  margin: auto;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
#body .text{
  background-color: #bf764c;
  padding: 10px; 
  color: white;
  text-align: center;
}
#body .product{
  width:13%;
  height:30%;
  box-sizing: content-box;
  margin: 20px;
  position: absolute;
  bottom:13vw;
  left:20vw;

}
#body .product1{
    width:13%;
  height:30%;
  box-sizing: content-box;
  margin: 20px;
  margin:20px;
  position: absolute;
  bottom:13vw;
  left:40vw;
}

#body .product2{
    width:13%;
  height:30%;
  box-sizing: content-box;
  margin: 20px;
  margin:20px;
  position: absolute;
  bottom:13vw;
  left:60vw;
}
.product:hover, .product1:hover, .product2:hover{
  box-shadow: 10px 10px #f7d6bd;
  transition:0.4s ease-in-out;
}
#body .link{
   background-color: #bf764c;
   text-decoration-style: none;
   width: 60%;
   height:5%;
   box-sizing: content-box;
   color:white;
   margin:20px;
   padding: 10px;
   text-align: center;
   font-style: bold;
   font-size:120%;
   position: absolute;
   bottom:0vw;
   left:16vw;
}

#body .link a {
	text-decoration: none;
	color: white;
} 

#body .link a:hover{
	text-decoration: underline;
}

#body1 .text1{
 background-color: #bf764c;
  padding: 5px; 
  color: white;
  margin:auto;
 position: absolute;
  bottom:29vw;
}

#body1 .text2{
 background-color: #bf764c;
  padding: 5px; 
  color: white;
  margin:auto;
 position: absolute;
  bottom:9vw;
}

#body1 .text2{
 background-color: #bf764c;
  padding: 5px; 
  color: white;
  margin:auto;
 position: absolute;
  bottom:-10vw;
}


 #body .textbox{
  background-color: #f7d6bd;
  border-width: 2px black;
  box-sizing: content-box;
  width: 50%;
  height: 30%;
  color:white   ;
  text-align: left;
  display: flex;
  align-self: left;
  margin: 20px;
  padding: 10px;
  position: absolute;
  bottom:14vw;
  font-style: bold;
  z-index: -2;
  opacity: 80%;
 
 }
 #body .textbox1{
  opacity: 90%;
  background-color: #f7d6bd;
  border-width: 2px black;
  box-sizing: content-box;
  width: 20%;
  height:75%;
  color:white;
  text-align: center;
  display: flex;
  display: flex-end;
  margin: 20px;
  padding: 10px;
  position:absolute;
  left:45vw;
  bottom: -3vw;
  z-index: 0;
  font-style: bold;

 }
.mytext{
  width: 90%;
  height: 100%;
  z-index: 3;

 }
  #body .textbox1 .mytext1{
  width: 75%;
  height: 100;
  padding: 10px;
 }
  #body .textbox2 .mytext1{
  width: 75%;
  height: 100;
  padding: 10px;
 }
 #body .textbox2{
  font-style: bold;
opacity: 100%;
  background-color: #f7d6bd;
  border-width: 2px black;
  box-sizing: content-box;
  width: 65%;
  height:30%;
  color:white;
  text-align: center;
  display: flex;
  display: flex-end;
  margin-right: 20px;
  padding: 10px;
  position:absolute;
  left:30vw;
  bottom: -7vw;
  z-index: 1;

 }
.contact{
  background-color:#f7d6bd;
  color:white;
  width: 100%;	
  height:auto;
  padding:50px;
  margin:auto;
 }
#body1 .contact{
    background-color:#f7d6bd;
  color:white;
  width: auto;  
  height:auto;
  padding:50px;
  margin:auto;
}



 .text{
  font-family: inherit;
  background-color: white;
  color: black;
  display:flex;
  justify-content: flex-start;
  align-items:right;
  border-color:transparent;
  z-index: 2;
  padding: 10px;
  margin:10px;
  width: 80%;

 }

 .btn{
   width: auto;
  font-size: 100%;
  background-color:transparent;
  font-family: inherit;
  color:black;
  border-color:transparent;
  display: flex;
  align-self: right;
  padding: 13px;
  width: 20%;
  height: 10%;
  border: solid 2px black;

 }
 .btn:hover{
  font-style: italic;
  box-shadow: 4px 2px #ffe6cc;
  transition:0.4s ease-in-out;
 }

 
 #footer{
   background-color: white;
   padding: 20px;
   margin-top: 20px;
   width: 100%;
  position: relative;
   bottom:0vh;
   height: auto;


}

#footer .mytext{
  background-color: transparent;
  border: 0px solid transparent;
  margin-right: 80%;
  color: black;
  height: 90%;
  box-sizing: content-box;
  }
 #middle table {
    width:30%;
    margin:auto;
    display: none;
  }
}
}
#middle table tr td {
    text-align:center;
}

#social{
  padding: 3px;
  display: none;
  width:100%;
}
#social .social4{
  display: none;
  background-size:200%;
  size:200%;
  padding: 3px;
    margin:2px;
  color:blue;
     border-radius:50%;
     transition:0.4s ease-in-out;
     justify-content:center;
     align-self: center;
     z-index: 3;
}

.social4:hover{
  color:#d4af37;
}
#social2{
  box-sizing: content-box;
  margin:0px 20px;

}
 .social1{
  background-size:200%;
  size:200%;
  color:blue;
     border-radius:50%;
     transition:0.4s ease-in-out;
     margin:0px 20px;
     justify-content:center;
     align-self: center;
 position: absolute;
  left:70vw;
  bottom:8vw;
  z-index: 3;
 }
 .social2{
  background-size: 200%;
  color:blue;
     border-radius:50%;
     transition:0.4s ease-in-out;
     margin:0px 20px;
     justify-content:center;
     align-self: center;
 position: absolute;
  left:75vw;
  bottom: 8vw;
  z-index: 3;
 }
 .social3{
  color:blue;
     border-radius:50%;
     transition:0.4s ease-in-out;
     margin:0px 20px;
     justify-content:center;
     align-self: center;
 position: absolute;
  left:80vw;
  bottom: 8vw;
  z-index: 3;
 }
 .social1:hover, .social2:hover, .social3:hover {
     color:#d4af37;
 }
.mySldies1{
  display:inline-block;
}
 #subscribe{
  background-color: white;
  width: 50%;
  height: 40%;
  font-size:120%;
  text-align: center;
  color: black;
  font-family: inherit;
  box-sizing: content-box;
  padding: 20px;
  margin:auto;
}
 #subscribe .textarea{
  border:transparent;
  background-color: #f7d6bd;
  color: white;
  font-family: inherit;
  padding:10px;
  margin: 10px;
  width: 80%;


 }
 #subscribe .button{
  background-color: black;
  padding: 10px;
  margin: 10px;
  font-family: inherit;
  color:#f7d6bd;
  border:transparent;
 }
 #subscribe .button:hover{
  font-style: italic;
    transition:0.4s ease-in-out;
 }
::selection{
  color:white;
  background-color: black;
}

::placeholder{
  color:black;
}
::-webkit-scrollbar {
  width:5px;
  height:5px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: #d4af37;
    border-radius: 2px;
    height: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: black;
}


:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
.animation{

}
.animation{
  transform-origin: top;
  transition:0.4s ease-in-out;
}
       @keyframes bounce {
        0%   { transform: scale(1,1)    translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1) translateY(-100px); }
        50%  { transform: scale(1,1)    translateY(0); }
        100% { transform: scale(1,1)    translateY(0); }
      }
@media (max-width: 956px){

  #middle{
    width: 100%;
    padding: 0px 5vw; 
     }
     #middle .nav {
display: none;
     }
     #middle .nav a{
    display: none;
     }
 #menu{
  display:inline-block;
    width: 100%;
      position: relative;
    left:0vw;
    top:-2vw;
 }

 #menu .hyperlinks{
    display:inline-block;
 }
 #menu .hyperlinks a:hover{
  background-color: transparent;
  color: #d4af37;
  text-decoration: underline;
 }
  #social2{
    display: none;
  }
  #social{
    display: inline-block;
  }
  #social .social4{
    display:inline-block;
  }
  #body{
    display: none;
  }
  #body1{
    display: inline-block;
  }
  #body1 .home{
    display: inline-block;
  }
  #body1 .products{
    display: block;
  }
  #body1 .link{
    display: block;
  }
  .btn{
    box-sizing: content-box;
    width: 20%;
  }
.sliideshow-container1{
  display:black;
}

}
@media (max-width: 831px){
  body{
    overflow-x: hidden;
  }
 #body1{
  display: block;
 }
 #body1 .home{
  display: block;
  width: 90%;
  height: 30%;
  margin: 20px; 
  position: relative;
  left: 2.5vw;
}
 
}
@media (max-width:420px){
  #footer .mytext{
    display: none;
  
} 
@media (max-width:207px){
  #solid{
    width: 80%;
     }
     @media (max-width:131px){
      #social{
        display: none;
      }

}
