		@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

		@keyFrames fadeIn{
			0% {opacity: 0;
			}
			100%{opacity: 1;
			}
		}

		body{
			background: white;
			max-width: 100vw;
			max-height : 100vw;
			margin: 0;
			padding: 0;
			overflow: hidden;
			font-family: "Bebas Neue", sans-serif;
		}

		#wordle-header{
			height: auto;
			font-family: inherit;
			width: 100%;
	    	margin: 5px auto 0;
	    	display: flex;
	    	flex-direction: column;
	    	justify-content: center;
	    	align-items: center;
	    	flex-grow: 1;

		}

		.wordle-header-title{
			border-bottom: 2px solid lightgray;
			text-align: center;
			font-size: 200%;
			letter-spacing: 5px;
		}

		#wordle-board-container{
			width: 100%;
	    	margin: 0 auto;
	    	height: 100%;
	    	display: flex;
	    	flex-direction: column;
	    	justify-content: center;
	    	align-items: center;
	    	flex-grow: 2;
			margin-top: 50px;    	

		}

		#wordle-board{
			display: grid;
			grid-gap: 5px;
	    	justify-content: center;
	    	align-items: center;
	    	flex-grow: 1;
	    	padding: 10px;

		}


		#row1, #row2, #row3, #row4, #row5{
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-gap: 10px;
		}


		.one{
			width: 30px;
			margin-bottom: 10px;
			height: 35px;
			padding: 7px;
			font-size: 150%;
			font-weight: bold;
			font-family: inherit;
			border: solid 3px lightblue;
			text-align: center;
		}



		#wordle-keyboard{
			display: flex;
	    	justify-content: center;
	    	align-items: center;
	    	flex-grow: 1;
	    	overflow: hidden;
	    	margin: 10px;
	    	

		}


		#q, #w, #e, #r, #t, #y, #u, #i, #o, #p, #a, #s, #d, #f, #g, #h, #j, #k, #l, #z, #x, #c, #v, #b, #n, #m, #backspace{
			width: fit-content;
			height: auto;
			padding: 10px;
			font-size: 100%;
			font-weight: bold;
			font-family: inherit;
			background-color: lightgrey;
			margin-left: 5px;
			margin-bottom: 1px;
			text-align: center;
			border-radius: 10px;
		}

		#enter{
			width: fit-content;
			height: auto;
			padding: 10px;
			font-size: 100%;
			font-weight: bold;
			font-family: inherit;
			background-color: lightgrey;
			margin-left: 5px;
			margin-bottom: 1px;
			text-align: center;
			border-radius: 10px;	
		}
		
	#q:hover, #w:hover, #e:hover, #r:hover, #t:hover, #y:hover, #u:hover, #i:hover, #o:hover, #p:hover, #a:hover, #s:hover, #d:hover, #f:hover, #g:hover, #h:hover, #j:hover, #k:hover, #l:hover, #z:hover, #x:hover, #c:hover, #v:hover, #b:hover, #n:hover, #m:hover, #backspace:hover, #enter:hover{
		opacity: .7;
	}

	#win{
		background-color: black;
		color: white;
		z-index: 200;
		letter-spacing: 5px;
		width: auto;
		height: auto;
		padding: 10px;
		border-radius: 10px;
		display: none;
		position: absolute;
		top: 15%;
	}
::selection{
	background: transparent;
}
